.btn-add {
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px 15px;
    border: 1px solid yellowgreen;
    background-color: yellowgreen;
    color: #fff;
    font-weight: 700;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-delete {
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px 15px;
    border: 1px solid lightcoral;
    background-color: lightcoral;
    color: #fff;
    font-weight: 700;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-add:hover,
.btn-delete:hover {
    background-color: #fff;
    color: #000;
}
